.mobile-dialog {
  &__title {
    font-family: "Rubik" !important;
  }

  &__content {
  }

  &__text {
    font-family: "Rubik" !important;
  }

  &__menu {
  }

  &__button {
    font-family: "Rubik" !important;
  }
}
