.cart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;

  &__container {
    box-shadow: 0 0 8px rgb(0, 0, 0);
    border-radius: 8px;
  }

  &__wrapper {
    padding: 8px;
    max-width: 500px;
  }

  &__list {
  }

  &__p {
    padding: 8px;
  }
}
