.app {
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  height: 100%;
}

.app-container {
  margin: 0 56px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.hidden {
  display: none !important;
}
